html, body, #main, #sliding-frame , #item-group{
    height: 100%;
}

img.bg {
    /* Set rules to fill background */
    min-height: 100%;
    /*min-width: 1024px;*/

    /* Set up proportionate scaling */
    width: 100%;
    height: auto;

    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1
}

header {
    position: fixed;
    top: 0;
    height: 35px;
    background: rgba(0,0,0,0.4);
    width: 100%;
    color: white;
    font-weight: bold;


    display: -webkit-box;
   	-webkit-box-orient: horizontal;
   	-webkit-box-pack: start;
   	-webkit-box-align: stretch;
   	display: -moz-box;
   	-moz-box-orient: horizontal;
   	-moz-box-pack: start;
   	-moz-box-align: stretch;
   	display: box;
   	box-orient: horizontal;
   	box-pack: start;
   	box-align: stretch;

}

header > * {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    margin: 5px 20px;
}
header > *:last-child {
    text-align: right;
}

#buy-more {
    background: #ffff99;
    padding: 5px;
    border-radius: 10px;
    color: #A00000;
    line-height: 25px;
}

#main {
    margin-top: 35px;
}

#sliding-frame {
    margin: 0 auto;
    overflow: scroll;
}

.item {
    padding: 5px 10px;
    margin: 20px;
    /*background: #f0dddd;*/
    background: rgba(0, 200, 200, 0.6);

    /*-webkit-box-flex: 1;*/
    /*-moz-box-flex: 1;*/
    /*box-flex: 1;*/
    width: 100px;
    height: 160px;
    box-shadow: 0 0 10px black;
    border-radius: 20px;
}

.item h2,h3 {
    margin: 0;
    text-align: center;
}

.item h2 {
    font-size: 1.2em;
}

.item img.thumbnail {
    max-height: 80px;
    display: block;
    margin: 0 auto;
    border: 1px gray solid;
},

.item description {
    font-size: 0.7em;
}

#item-group {
    padding: 0 20px;
    margin-left: 0;

	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-pack: start;
	-webkit-box-align: stretch;
	display: -moz-box;
	-moz-box-orient: horizontal;
	-moz-box-pack: start;
	-moz-box-align: stretch;
	display: box;
	box-orient: horizontal;
	box-pack: start;
	box-align: stretch;
}


@media screen and (max-width: 480px) {

    header .store-title {
        display: none;
    }

    #item-group {
        display: block;
        padding: 20px;
        height: 100%;
    }
    .item:first-child {
        border-radius: 10px 10px 0 0;
    }
    .item:last-child {
        border-radius: 0 0 10px 10px;
    }
    .item {
        display: block;
        width: auto;
        height: auto;
        margin: 0;
        padding: 10px;
        border-radius: 0;
        position: relative;
        box-shadow: 0 0 6px black;
    }
    .item h2 {
        position: absolute;
        left: 70px;
    }
    .item img.thumbnail {
        float: left;
        max-height: 50px;
    }
    .item div{
        position: absolute;
        left: 70px;
        top: 25px;
        text-align: left;
    }
    .item h3{
        position: absolute;
        right: 10px;
        top: 43px;
        text-align: right;
    }
    .item:after {
        content: ".";
        display: block;
        clear: both;
        visibility: hidden;
        line-height: 0;
        height: 0;
    }
}

